"================================================================================
" Ideavim config
"================================================================================


" basic
set number relativenumber
set showmode
set hlsearch incsearch gdefault
set ignorecase smartcase
set clipboard+=unnamedplus
set clipboard+=unnamed
set undolevels=1000
set history=1000
set scrolloff=2
set sidescrolloff=5
set visualbell
set timeoutlen=350
set ttimeoutlen=50

"================================================================================
" Mappings
"================================================================================
let mapleader = ';'


nnoremap <leader>r :source ~/.ideavimrc<CR>

nnoremap -   q
nnoremap --  @a
nnoremap q   <nop>
nnoremap s   <nop>

" all mode init
noremap <bs>  %
noremap <c-a> ^
noremap <c-e> $

" insert mode
inoremap <c-b> <Left>
inoremap <c-l> <Right>
inoremap <c-a> <Esc>^i
inoremap <c-e> <End>
inoremap <c-d> <Del>
inoremap <c-f> <Right>
inoremap <c-_> <c-k>
inoremap <c-q> <Esc>ld$a

" faster command mode
cnoremap <c-h> <BS>
cnoremap <c-b> <Left>
cnoremap <c-l> <Right>
cnoremap <c-f> <Right>
cnoremap <c-a> <Home>
cnoremap <c-e> <End>
cnoremap <c-d> <Del>
cnoremap <c-_> <c-k>
cnoremap qw    <Esc>

" tabn tabp
nnoremap <leader><tab> gt
nnoremap <leader>q     gT

" window management
nnoremap qq :close<CR>
nnoremap qd :close<CR>
nnoremap qe ggdG
nnoremap qh :action Exit<CR>
nnoremap qp :action CloseProject<CR>
nnoremap qo :action CloseAllEditorsButActive<CR>
nnoremap qr :action RenameFile<CR>
nnoremap qf :action FileChooser.Delete<CR>

nnoremap s0 :action NewFile<CR>
nnoremap sl :action NextTab<CR>
nnoremap sh :action PreviousTab<CR>
nnoremap sm :action MaximizeToolWindow<CR>
nnoremap sf :action OpenFile<CR>
nnoremap sv :vs<CR>
nnoremap sp :sp<CR>
nnoremap su :nohl<CR>

nnoremap g0 g*

nnoremap <c-w>r :action MoveTabRight<CR>
nnoremap <c-w>d :action MoveTabDown<CR>

" fast save
inoremap qw <ESC>:action SaveAll<CR>

" file management
nnoremap <space>fo    :action OpenFile<CR>
nnoremap <space>fr    :action RecentFiles<CR>
nnoremap <space>fp    :action ShowFilePath<CR>
nnoremap <space>fc    :action ReopenClosedTab<CR>
nnoremap <space>fn    :action NewFile<CR>
nnoremap <space>fd    :action NewDir<CR>
nnoremap <space>fw    :action OpenInBrowser<CR>
nnoremap <space>ft    :action GotoTest<CR>


" edit
noremap J :action EditorJoinLines<CR>

noremap <space>cc :action CommentByLineComment<CR>
noremap <space>cl :action CommentByLineComment<CR>
noremap <space>cp :action CommentByBlockComment<CR>

nnoremap <space>hh :action HighlightUsagesInFile<CR>

nnoremap <tab>o o<ESC>
nnoremap <tab>p O<ESC>j

noremap  vv V
nnoremap <leader>aa ggVG
nnoremap <leader>ae VG

xoremap <leader>y "*y
noremap <leader>Y "*Y
noremap <leader>p "*p
noremap <leader>P "*P

" Select blocks after indenting
xnoremap < <gv
xnoremap > >gv|
" Use tab for indenting in visual mode
xnoremap <c-l> >gv|
xnoremap <c-h> <gv
nnoremap > >>_
nnoremap < <<_

" run
nnoremap <space>rr :action Run<CR>
nnoremap <space>rc :action RunClass<CR>
nnoremap <space>ra :action Rerun<CR>
nnoremap <space>re :action RunConfiguration<CR>
nnoremap <space>rq :action Stop<CR>

" debug
nnoremap <space>dk :action Resume<CR>
nnoremap <space>dd :action Debug<CR>
nnoremap <space>dj :action DebugClass<CR>
nnoremap <space>dk :action ChooseDebugConfiguration<CR>
nnoremap <space>do :action StepOver<CR>
nnoremap <space>di :action SmartStepInto<CR>
nnoremap <space>de :action EvaluateExpression<CR>
nnoremap <space>dl :action ViewBreakpoints<CR>
nnoremap <space>db :action ToggleLineBreakpoint<CR>
nnoremap <space>dm :action XDebugger.MuteBreakpoints<CR>
nnoremap <space>df :action FindBugs.CurrentFileAction<CR>

" jump to n/p error
nnoremap <space>eh :action ShowErrorDescription<CR>
nnoremap <space>en :action GotoNextError<CR>
nnoremap <space>ep :action GotoPreviousError<CR>
nnoremap ]e        :action GotoNextError<CR>
nnoremap [e        :action GotoPreviousError<CR>


" search
nnoremap <space>sg :action SearchEverywhere<CR>
nnoremap <space>sr :action ReplaceInPath<CR>
nnoremap <space>su :action FindUsages<CR>
nnoremap <space>sc :action GotoClass<CR>
nnoremap <space>sf :action GotoFile<CR>
nnoremap <space>ss :action GotoSymbol<CR>
nnoremap <space>sa :action GotoAction<CR>
nnoremap <space>sp :action SelectInProjectView<CR>
nnoremap <space>sh :action FileStructurePopup<CR>
nnoremap <space>sw :action SearchWithGoogle<CR>

nnoremap <space>j  :action MethodDown<CR>
nnoremap <space>k  :action MethodUp<CR>

" generate
nnoremap <space>lgk  :action Generate<CR>
nnoremap <space>lgg  :action GenerateGetter<CR>
nnoremap <space>lgs  :action GenerateSetter<CR>
nnoremap <space>lga  :action GenerateGetterAndSetter<CR>
" code refactoring
nnoremap <space>lr   :action Refactorings.QuickListPopupAction<CR>
nnoremap <space>lc   :action CheckStyleCurrentFileAction<CR>
" format =
nnoremap <space>bf   :action ReformatCode<CR>
nnoremap g= ggVG=``

" code navigation
nnoremap <leader>gg :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gu :action GotoSuperMethod<CR>
nnoremap <leader>gd :action GotoTypeDeclaration<CR>
nnoremap <leader>gm :action MethodHierarchy<CR>
nnoremap <leader>gt :action TypeHierarchy<CR>
nnoremap <leader>gc :action CallHierarchy<CR>

nnoremap gd         :action GotoDeclaration<CR>
nnoremap gi         :action GotoImplementation<CR>
nnoremap gu         :action GotoSuperMethod<CR>
nnoremap gg         :action GotoTypeDeclaration<CR>
nnoremap gm         :action MethodHierarchy<CR>
nnoremap gt         :action TypeHierarchy<CR>
nnoremap gc         :action CallHierarchy<CR>
nnoremap gf         :action ReformatCode<CR>

" git
nnoremap <space>gi  :action Git.Init<CR>
nnoremap <space>ga  :action Git.Add<CR>
nnoremap <space>gl  :action Git.Pull<CR>
nnoremap <space>gf  :action Gitflow.OpenGitflowPopup<CR>
nnoremap <space>ghf :action Github.Open.In.Browser<CR>
nnoremap <space>gq  :action Vcs.QuickListPopupAction<CR>
nnoremap <space>gk  :action VcsShowPrevChangeMarker<CR>
nnoremap <space>gj  :action VcsShowNextChangeMarker<CR>
nnoremap [g         :action VcsShowPrevChangeMarker<CR>
nnoremap ]g         :action VcsShowNextChangeMarker<CR>


" options
nnoremap <space>ts :action EditorToggleUseSoftWraps<CR>
nnoremap <space>tw :action EditorToggleShowWhitespaces<CR>

nnoremap <leader>a :action HideAllWindows<CR>

" built-in navigation to navigate items works better
" use idea map
" nnoremap <c-o> :action Back<CR>
" nnoremap <c-i> :action Forward<CR>


" plugins
set surround
set multiple-cursors
nmap <c-m> <A-n>
nmap <c-x> <A-x>
nmap <c-q> <ESC>:action EditorTranslateAction<CR>

nnoremap <leader><leader>f :action KJumpAction<CR>
nnoremap <leader><leader>l :action KJumpAction.Line<CR>
nnoremap <leader><leader>w :action KJumpAction.Word0<CR>

" noremap # #zz
" noremap * *zz
" noremap w wzz
" noremap W Wzz
" noremap e ezz
" noremap E Ezz
" noremap b bzz
" noremap B Bzz
" noremap H Hzz
" noremap L Lzz
" noremap 0 0zz
" noremap $ $zz
" noremap ^ ^zz
" noremap j jzz
" noremap k kzz
" noremap G Gzz
" noremap u uzz
" noremap ( (zz
" noremap ) )zz
" noremap { {zz
" noremap } }zz
" noremap [{ [{zz
" noremap ]} ]}zz
" noremap <C-f> <C-f>zz
" noremap <C-b> <C-b>zz
" noremap gd gdzz
