package-lock=false
registry=https://registry.npm.taobao.org/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=TOKEN
home=https://npm.taobao.org
python=/usr/bin/python2.7
