[Desktop Entry]
Exec="/opt/vim/vim8.1/bin/vim"
Name=Vim
Terminal=true
Type=Application
Icon=/home/alanding/.local/share/applications/nvim.png

Name[en_US]=NVim


