[Desktop Entry]
Exec="/home/alanding/software/xmind-8/XMind_amd64/xmindinit.sh"
Name=XMind
Terminal=false
Type=Application
Icon=/home/alanding/software/xmind-8/XMind_amd64/xmind.png

